<body>


    <div class="comment-container">
        <li>
            <div class="comment-wrapper">
                <div class="comment-first">
                    <div class="profile-photo">
                        <a href="/users/profile/<%= encodeURIComponent(comment.user._id) %>">
                            <img src="/images/DefaulAvtar.jpeg" alt="<%= comment.username%>">
                        </a>
                    </div>
                    <div class="comment-info">
                        <h5>
                            <a href="/users/profile/<%= encodeURIComponent(comment.user._id) %>">
                                <%= comment.username%>
                            </a>
                        </h5>
                        <p class="text-muted">
                            <%= comment.content%>
                        </p>


                    </div>
                </div>

                <%if(locals.user && locals.user.id==comment.user._id){%>
                    <div class="delete-container">
                        <small>

                            <button class="delete-button btn btn-primary"><a style="color: white;"
                                    href="/comments/destroy/<%= comment.id %>">Delete</a></button>
                        </small>
                    </div>
                    <%}%>
                        <%if(locals.user && locals.user.id==post.user._id){%>
                            <div class="delete-container">
                                <small>

                                    <button class="delete-button btn btn-primary"><a style="color: white;"
                                            href="/comments/destroy/<%= comment.id %>">Delete</a></button>
                                </small>
                            </div>
                            <%}%>

            </div>


        </li>
    </div>

</body>