<li class="feed">
    <div class="head">
        <div class="user">
            <div class="profile-photo">
                <img src="<%=post.user.avatar%>" alt="<%post.user.name%>">
            </div>
            <div class="ingo">
                <h3>
                    <%= post.user.name%>
                </h3>
            </div>

        </div>
    </div>
    <div class="photo">
        <img src="<%=post.media%>" alt="<%=post.content%>">
    </div>
    <div class="action-buttons">
        <div class="interaction-buttons">

            <button class="toggle-like-button like-button-style" data-postid="<%= post.id%>">
                <i class="uil uil-heart"></i>
                <sub class="text-muted">
                    <%= post.likes.length%>
                </sub>
            </button>

            <span data-bs-toggle="modal" data-bs-target="#exampleModal<%= post.id %>"><i
                    class="uil uil-comment-dots"></i></span>
            <span>

                <% if (locals.user && locals.user.id==post.user.id) { %>
                    //delete button is not showing
                    <a href="/posts/destroy/<%= post.id %>"><i class="bi bi-trash"></i> </a>
                    <% } %>
            </span>
        </div>
    </div>
    <div class="caption">
        <span>
            <%=post.content%>
        </span>
    </div>

</li>


<div class="modal fade" id="exampleModal<%= post.id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog ">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Comments</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="post-comments-list">
                    <ul id="post-comments-<%= post.id %>">
                        <% for (comment of post.comments) { %>
                            <%-include('_comment')-%>
                                <% } %>
                    </ul>
                </div>


                <div class="modal-footer">
                    <form action="/comments/create" method="POST" class="comment_Section">
                        <input type="text" name="content" placeholder="Type Here to add comment..." required="required">
                        <input type="hidden" name="post" value="<%= post._id %>">
                        <button type="submit" class="comment-Button">
                            <img src="images/Untitled.png" alt="">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>