<!-- <li id="post-<%= post._id%>"> -->
<li class="comment_box">

    
    <div class="comment_wrapper">
        <div class="post-image">
            <img src="<%= post.user.avatar%>" alt="">
                
        </div>
        
        <div class="image-right">
            <div class="row1">
                <h4>
                    <%= post.user.name %>
                </h4>
                <% if (locals.user && locals.user.id==post.user.id) { %>
                    <small>
                        <button class="delete-button"><a href="/posts/destroy/<%= post.id %>"><i class="fa-solid fa-trash" style="color: #edeff2;"></i></a></button>
                    </small>
                <% } %>
            </div>
            <div class="Post_content">
                <br>
                <%= post.content %>
                <br>
            </div>
        </div>
    </div>
    
    <div>
        
        <div class="post-comments">
            
            <% if (locals.user) { %>
                <form action="/comments/create" method="POST" class="comment_Section">
                    <input type="text" name="content" placeholder="Type Here to add comment..." required="required">
                    <input type="hidden" name="post" value="<%= post._id %>">
                    <button type="submit" class="comment-Button">
                        <i class="fa-solid fa-paper-plane" ;"></i>
                    </button>  
                </form>
                <div class="comment-react-nav-bar">
                    <button>
                        <i class="fa-solid fa-heart" style="color: #c3c6cb;"></i>
                    </button>
                    <button onclick="commentbtnClickedHandler()" id="comment-button">
                        <i class="fa-regular fa-comment" style="color: #d7dadf;"></i>
                    </button>
                </div>
                <% } %>
    
                <div class="post-comments-list">
                    <div class="comment-label">Comments</div>
                    <ul id="post-comments-<%= post._id %>">
                        <% for (comment of post.comments) { %>
                            <%-include('_comment')-%>
                        <% } %>
                    </ul>
                </div>
        </div>
        <br>
        <br>
        <hr>
    </div>
</li>