<body>
    <main>
        <%if(locals.user){%>
            <div class="container">
                <div class="left">
                    <a href="/users/profile/<%= locals.user.id %>" class="profile">
                        <div class="profile-photo">
                            <img src="<%= locals.user.avatar %>" alt="<%= locals.user.name %>">
                        </div>
                        <div class="handle">
                            <h4>
                                <%= locals.user.name%>
                            </h4>

                        </div>
                    </a>
                    <div class="side-bar">
                        <a href="/" class="menu-item active">
                            <span><i class="uil uil-home"></i></span>
                            <h3>Home</h3>
                        </a>
                        <a href="/" class="menu-item">
                            <span><i class="uil uil-bell"></i></span>
                            <h3>Notifications</h3>

                        </a>
                        <a href="/" class="menu-item">
                            <span><i class="uil uil-envelope-alt"></i></span>
                            <h3>Messages</h3>
                        </a>
                        <a href="/" class="menu-item">
                            <span><i class="uil uil-compass"></i></span>
                            <h3>Explore</h3>
                        </a>
                        <a href="/" class="menu-item">
                            <span><i class="uil uil-setting"></i></span>
                            <h3>Setting</h3>
                        </a>
                    </div>
                    <!-- <label for="createPost" class="btn btn-primary"> Create Post</label> -->
                </div>
                <div class=" middle">
                    <form class="create-post" action="/posts/create" method="post" enctype="multipart/form-data">
                        <div class="profile-photo">
                            <img src="<%= locals.user.avatar %>" alt="<%= locals.user.name %>">
                        </div>

                        <input type="text" name="content" placeholder="What's on your mind ?">
                        <label for="media-upload" class="file-input-label">
                            <i class=" fa fa-paperclip"></i>
                        </label>
                        <input type="file" id="media-upload" name="media" accept="image/*, video/*"
                            class="hidden-input">
                        <input type="submit" value="Post" class="btn btn-primary">
                    </form>

                    <div class="posts">
                        <ul class="feeds">
                            <% for (post of posts) { %>
                                <%-include('_post')-%>
                            <% } %>
                        </ul>

                    </div>

                </div>
                <div class="right">

                    <ul class="friend-request">
                        <h5>Suggested Users</h5>
                        <% for(u of all_users) { %>
                            <li>
                                <div class="request">
                                    <div class="info">
                                        <div class="profile-photo">
                                            <a href="/users/profile/<%= encodeURIComponent(u.id) %>">
                                                <img src="<%= u.avatar%>" alt="<%= u.name%>">
                                            </a>
                                        </div>
                                        <div>
                                            <h5>
                                                <a href="/users/profile/<%= encodeURIComponent(u.id) %>">
                                                    <%= u.name%>
                                                </a>
                                            </h5>
                                            <p class="text-muted">
                                                @<%= u.name%>
                                            </p>

                                        </div>
                                    </div>

                                    <div class="action">
                                        <button class="btn btn-primary">
                                            Follow
                                        </button>
                                    </div>
                                </div>

                            </li>
                            <% } %>
                    </ul>

                </div>

            </div>
            <%}%>
    </main>
</body>