<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;1,100&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <%- style %>
</head>

<body>

    <%- include('_header') %>

        <%- body%>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script src="/js/friendship.js"></script>
            <script src="/js/chat.js"></script>
            <script src="/js/toogle_likes.js">  </script>
            <script>
        <% if (flash.success && flash.success.length > 0) {%>
                    new Noty({
                        theme: 'relax',
                        text: '<%=flash.success %>',
                        type: 'success',
                        layout: 'topRight',
                        timeout: 2500
                    }).show();
        <%}%>
            </script>
            <script>
        <% if (flash.error && flash.error.length > 0) {%>
                    new Noty({
                        theme: 'relax',
                        text: '<%=flash.error %>',
                        type: 'error',
                        layout: 'topRight',
                        timeout: 2500
                    }).show();
        <%}%>
            </script>
            <script>
                    $(document).ready(function () {
                        $('.toggle-like-button').click(function () {
                            var $this = $(this);
                            var postId = $this.data('postid');

                            var ajaxUrl = '/likes/toggle/?id=' + postId;

                            $.ajax({
                                type: 'GET',
                                url: ajaxUrl,
                                success: function (data) {
                                    if (data.success) {
                                        var likesCount = data.likes;
                                        $this.data('likes', likesCount);


                                        $this.find('i').nextAll('sub:first').text(likesCount);
                                    } else {
                                        console.error('Error:', data.error); // Log the error to the console
                                    }
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    console.error('AJAX Error:', textStatus, errorThrown); // Log AJAX error details to the console
                                }
                            });
                        });
                    });



            </script>
            <script>
                $(document).ready(function () {
                    const fromUserId = $('.profile-image').data('from-user-id');
                    const toUserId = $('.profile-image').data('to-user-id');
                    // Check the values of fromUserId and toUserId
                    let friendshipButton = $('#friendship-button')[0];
                    let toggleFriendship = new ToggleFriendship(friendshipButton, fromUserId, toUserId);
                });
            </script>
            <script src="/js/chat_engine.js"></script>
            <%if(locals.user){%>
                <script>
                    new ChatEngine('chat-container', '<%= locals.user.email %> ');
                </script>
                <%}%>
</body>

</html>