<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title%>
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;1,100&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <%- style %>
</head>


<body class="main_body">
    <div class="header">
        <%- include('_header'); %>
    </div>



    <div class="content">
        <!-- it will contain the varibale part -->
        <%- body %>
    </div>


    <script>
       <% if (flash.success && flash.success.length > 0) {%>
            new Noty({
                theme: 'relax',
                text: '<%=flash.success %>',
                type: 'success',
                layout: 'topRight',
                timeout: 2500
            }).show();
        <%}%>
    </script>

    <script>
           <% if (flash.error && flash.error.length > 0) {%>
            new Noty({
                theme: 'relax',
                text: '<%=flash.error %>',
                type: 'error',
                layout: 'topRight',
                timeout: 2500
            }).show();
            <%}%>
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    

</body>

</html>