<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title%>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js"></script>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <%- style %>
</head>


<body>
    <div class="header">
        <%- include('_header'); %>
    </div>


    <div class="content">
        <!-- it will contain the varibale part -->
        <%- body %>
    </div>


    <script>
       <% if (flash.success && flash.success.length > 0) {%>
            new Noty({
                theme: 'relax',
                text: '<%=flash.success %>',
                type: 'success',
                layout: 'topRight',
                timeout: 2500
            }).show();
        <%}%>
    </script>

    <script>
           <% if (flash.error && flash.error.length > 0) {%>
            new Noty({
                theme: 'relax',
                text: '<%=flash.error %>',
                type: 'error',
                layout: 'topRight',
                timeout: 2500
            }).show();
            <%}%>
    </script>



</body>

</html>